.box {

    border: 1px solid black;
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
    flex: 1;
}

.projects {
    display: flex;
    flex-direction: row;
}

.title {
    text-align: center;
}

.description {
    padding: 15px;
    color: blueviolet;

}

.view {
    text-align: center;
    padding: 30px;
}

@media (max-width:767px) {
    .projects {
        flex-direction: column;
    }
}